{%  extends 'base.html.twig' %}

{% block body %}
    <div class="row">
            <a class="button btn btn-lg btn-default" href="{{ path('billetterie_form_1') }}">Achetez vos billets dès maintenant !</a>
    </div>
{% endblock %}