{%  extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="button btn btn-lg btn-default">
            <a href="{{ path('billetterie_form_1') }}">Achetez vos billets dès maintenant !</a>
        </div>
    </div>
{% endblock %}