{% extends ':billetterie:formLayout.html.twig' %}

{% block body %}
    <div class="container form">
        <div class="row">
            <div class="col-xs-12">
                <h2>Réservez vos billets dès maintenant !</h2>
                <br>
                {{ include(':billetterie:_form1.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

